body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #F0F0F0;
}
body .header {
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  height: 70px;
}
body .header .nav {
  display: flex;
  align-items: center;
  gap: 40px;
}
body .header .nav .nav-logo {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #003366;
  font-weight: 700;
  text-transform: uppercase;
  color: #00A3A3;
  font-family: "Raleway", sans-serif;
}
body .header .nav .nav-logo .logo-span {
  color: #003366;
}
body .header .nav .nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
}
body .header .nav .nav-list .nav-item {
  list-style: none;
}
body .header .nav .nav-list .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  color: #003366;
  transition: all 0.2s ease-in-out;
  letter-spacing: 0.5px;
}
body .header .nav .nav-list .nav-item .nav-link:hover {
  color: #00A3A3;
}
body .header .address {
  display: flex;
  align-items: center;
  gap: 40px;
}
body .header .address .address-link {
  text-decoration: none;
  color: #003366;
  font-size: 1rem;
  font-weight: 400;
  text-transform: lowercase;
  transition: all 0.2s ease-in-out;
  font-style: normal;
}
body .header .address .address-link:hover {
  color: #00A3A3;
}
body .main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
}
body .main .hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
  width: 100%;
  background-color: #003366;
}
body .main .hero-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
body .main .hero-body .title {
  color: #FFFFFF;
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  line-height: 1.5;
}
body .main .hero-body .hero-btn {
  background-color: #00A3A3;
  border: none;
  outline: none;
  padding: 12px 30px;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
body .main .hero-body .hero-btn:hover {
  background-color: #F0F0F0;
  color: #003366;
}
body .main .hero-body .hero-btn:active {
  transform: scale(0.95);
}
body .main .services {
  width: 100%;
}
body .main .services .services-body {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
body .main .services .services-body .title {
  color: #003366;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
}
body .main .services .services-body .services-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 100px;
}
body .main .services .services-body .services-list .services-list-item {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  width: calc(100% - 40px);
}
body .main .services .services-body .services-list .services-list-item img {
  width: 680px;
  object-fit: cover;
}
body .main .services .services-body .services-list .services-list-item .content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}
body .main .services .services-body .services-list .services-list-item .content h3 {
  color: #00A3A3;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: capitalize;
  margin: 0;
}
body .main .services .services-body .services-list .services-list-item .content p {
  color: #333333;
  font-size: 1rem;
  text-transform: capitalize;
  line-height: 1.5;
  letter-spacing: 0.5px;
}
body .main .services .services-body .services-list .services-list-item:nth-child(2) {
  flex-direction: row-reverse;
}
body .main .services .services-body .services-list .services-list-item:nth-child(2) .content {
  text-align: justify;
}
body .main .about {
  background-color: #003366;
  color: #F0F0F0;
  width: 100%;
  padding: 80px 0;
}
body .main .about .about-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
body .main .about .about-body .about-heading {
  text-align: center;
  width: calc(100% - 140px);
}
body .main .about .about-body .about-heading h2 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: capitalize;
}
body .main .about .about-body .about-heading h3 {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}
body .main .about .about-body .about-heading p {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 1.5;
}
body .main .about .about-body .about-list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 60px;
  padding: 0 40px;
  margin: 0;
}
body .main .about .about-body .about-list .about-list-item {
  list-style: none;
  width: 33.3333333333%;
}
body .main .about .about-body .about-list .about-list-item .about-list-heading {
  display: flex;
  justify-content: center;
  height: 100px;
}
body .main .about .about-body .about-list .about-list-item .about-list-heading h4 {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 500;
  text-transform: capitalize;
}
body .main .about .about-body .about-list .about-list-item p {
  font-size: 0.9rem;
  text-align: justify;
  color: #e7e7e7;
}
body .main .about .about-body .about-choose {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}
body .main .about .about-body .about-choose h3 {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}
body .main .about .about-body .about-choose .about-choose-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: calc(100% - 100px);
}
body .main .about .about-body .about-choose .about-choose-list .about-choose-list-item p {
  font-size: 1rem;
  text-align: justify;
}
body .main .about .about-body .about-choose .about-choose-list .about-choose-list-item span {
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: capitalize;
  color: #e7e7e7;
  transition: all 0.1s ease-in-out;
}
body .main .about .about-body .about-choose .about-choose-list .about-choose-list-item span:hover {
  border-bottom: 2px solid #00A3A3;
  color: #00A3A3;
  cursor: pointer;
}
body .main .about .about-body .about-join {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: calc(100% - 100px);
}
body .main .about .about-body .about-join h3 {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}
body .main .about .about-body .about-join p {
  font-size: 0.9rem;
  text-align: justify;
  color: #e7e7e7;
}
body .main .about .about-body .about-join a {
  background-color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: #00A3A3;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  transition: all 0.2s ease-in-out;
}
body .main .about .about-body .about-join a:hover {
  color: #FFFFFF;
  background-color: #00A3A3;
}
body .main .about .about-body .about-join a:active {
  transform: scale(0.9);
}
body .footer {
  background-color: #FFFFFF;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}
body .footer-logo {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #003366;
  font-weight: 700;
  text-transform: uppercase;
  color: #00A3A3;
  font-family: "Raleway", sans-serif;
}
body .footer-logo .logo-span {
  color: #003366;
}
body .footer-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
body .footer-list-item {
  list-style: none;
}
body .footer-list-item .footer-link {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 500;
  text-decoration: none;
  color: #003366;
  transition: all 0.2s ease-in-out;
  letter-spacing: 0.5px;
}
body .footer-list-item .footer-link:hover {
  color: #00A3A3;
}
body .footer .address {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
body .footer .address-link {
  text-decoration: none;
  color: #003366;
  font-size: 0.8rem;
  font-weight: 400;
  text-transform: lowercase;
  transition: all 0.2s ease-in-out;
  font-style: normal;
}
body .footer .address-link:hover {
  color: #00A3A3;
}

/*# sourceMappingURL=style.css.map */
