<section class="services" id="services">
    <h2 class="services-title">
        Services
    </h2>
    <ul class="services-list">
        <li class="services-list-item">
            <img src="/images/landing/services/web-application-development.png" alt="Website Application Development">
            <div class="content">
                <h3>
                    Website Application Development
                </h3>
                <p>
                    Transform your ideas into fully functional and dynamic website applications with our cutting-edge development services. Whether you require an e-commerce platform, a custom web portal, or a feature-rich web application, our developers have the skills and experience to bring your vision to life. We prioritize user experience, performance, and security, ensuring your website application exceeds expectations and drives success.
                </p>
            </div>
        </li>
        <li class="services-list-item">
            <img src="/images/landing/services/web-design.png" alt="Website Design">
            <div class="content">
                <h3>
                    Website Design
                </h3>
                <p>
                    Captivate your audience with visually stunning and user-centric website designs. Our talented designers blend creativity with usability to craft engaging interfaces that leave a lasting impression. We understand the importance of branding, and each design element is carefully tailored to align with your company's identity. From responsive layouts to intuitive navigation, we strive to deliver seamless and captivating user experiences.
                </p>
            </div>
        </li>
        <li class="services-list-item">
            <img src="/images/landing/services/database-design.png" alt="Database Design">
            <div class="content">
                <h3>
                    Database Design
                </h3>
                <p>
                    The foundation of any successful web application lies in its database architecture. Our database design experts work diligently to create efficient and scalable database systems that power your website applications flawlessly. We optimize data storage, retrieval, and management to ensure your web solutions perform optimally, even with increasing user demands.
                </p>
            </div>
        </li>
    </ul>
</section>