<header class="header">
    <nav class="nav">
        <a href="/" class="nav-logo">
            Web<span class="logo-span">AppCraft</span>
        </a>
        <ul class="nav-list">
            <li class="nav-item">
            <a href="#services" class="nav-link">Services</a>
            </li>
            <li class="nav-item">
            <a href="#portfolio" class="nav-link">Portfolio</a>
            </li>
            <li class="nav-item">
            <a href="#blog" class="nav-link">Blog</a>
            </li>
        </ul>
    </nav>

    <address class="address">
        <a href="mailto:<%= email %>.com" class="address-link"><%= email %>.com</a>
        <a href="tel:+<%= phone %>" class="address-link"><%= phone %></a>
    </address>
</header>